# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
.env

# ML artifacts
ml/checkpoints/
ml/*.pt
ml/*.bin
ml/final_model/

# Dataset
data/raw/
data/*.csv

# Backend
backend/venv/
backend/__pycache__/
backend/.env

# Node
frontend/node_modules/
frontend/.env
frontend/dist/

# OS/IDE
.DS_Store
.vscode/
.idea/